<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page </title>
</head>
<body>
    <h2>Sign In  account </h2>
    <div>
        <form action="/login" method="post">
             <input type="email" name="email" id="" placeholder="email">
             <input type="password" name="password" id="" placeholder="password">
             <input type="submit" value="Sign in">
        </form>
     </div>
     <h2><a href="/">create Account</a></h2>
</body>
</html>